annotated-doc==0.0.4 ; python_full_version > "3.13.0" and python_version < "3.15"
annotated-types==0.7.0 ; python_full_version > "3.13.0" and python_version < "3.15"
anyio==4.12.1 ; python_full_version > "3.13.0" and python_version < "3.15"
blis==1.3.3 ; python_full_version > "3.13.0" and python_version < "3.15"
catalogue==2.0.10 ; python_full_version > "3.13.0" and python_version < "3.15"
certifi==2026.1.4 ; python_full_version > "3.13.0" and python_version < "3.15"
charset-normalizer==3.4.4 ; python_full_version > "3.13.0" and python_version < "3.15"
click==8.3.1 ; python_full_version > "3.13.0" and python_version < "3.15"
cloudpathlib==0.23.0 ; python_full_version > "3.13.0" and python_version < "3.15"
colorama==0.4.6 ; python_full_version > "3.13.0" and python_version < "3.15" and (sys_platform == "win32" or platform_system == "Windows")
confection==0.1.5 ; python_full_version > "3.13.0" and python_version < "3.15"
cymem==2.0.13 ; python_full_version > "3.13.0" and python_version < "3.15"
dnspython==2.8.0 ; python_full_version > "3.13.0" and python_version < "3.15"
email-validator==2.3.0 ; python_full_version > "3.13.0" and python_version < "3.15"
fastapi-cli==0.0.20 ; python_full_version > "3.13.0" and python_version < "3.15"
fastapi-cloud-cli==0.11.0 ; python_full_version > "3.13.0" and python_version < "3.15"
fastapi==0.128.7 ; python_full_version > "3.13.0" and python_version < "3.15"
fastar==0.8.0 ; python_full_version > "3.13.0" and python_version < "3.15"
h11==0.16.0 ; python_full_version > "3.13.0" and python_version < "3.15"
httpcore==1.0.9 ; python_full_version > "3.13.0" and python_version < "3.15"
httptools==0.7.1 ; python_full_version > "3.13.0" and python_version < "3.15"
httpx==0.28.1 ; python_full_version > "3.13.0" and python_version < "3.15"
idna==3.11 ; python_full_version > "3.13.0" and python_version < "3.15"
jinja2==3.1.6 ; python_full_version > "3.13.0" and python_version < "3.15"
markdown-it-py==4.0.0 ; python_full_version > "3.13.0" and python_version < "3.15"
markupsafe==3.0.3 ; python_full_version > "3.13.0" and python_version < "3.15"
mdurl==0.1.2 ; python_full_version > "3.13.0" and python_version < "3.15"
murmurhash==1.0.15 ; python_full_version > "3.13.0" and python_version < "3.15"
numpy==2.4.2 ; python_full_version > "3.13.0" and python_version < "3.15"
packaging==26.0 ; python_full_version > "3.13.0" and python_version < "3.15"
preshed==3.0.12 ; python_full_version > "3.13.0" and python_version < "3.15"
pydantic-core==2.41.5 ; python_full_version > "3.13.0" and python_version < "3.15"
pydantic-extra-types==2.11.0 ; python_full_version > "3.13.0" and python_version < "3.15"
pydantic-settings==2.12.0 ; python_full_version > "3.13.0" and python_version < "3.15"
pydantic==2.12.5 ; python_full_version > "3.13.0" and python_version < "3.15"
pygments==2.19.2 ; python_full_version > "3.13.0" and python_version < "3.15"
pymongo==4.16.0 ; python_full_version > "3.13.0" and python_version < "3.15"
python-dotenv==1.2.1 ; python_full_version > "3.13.0" and python_version < "3.15"
python-multipart==0.0.22 ; python_full_version > "3.13.0" and python_version < "3.15"
pyyaml==6.0.3 ; python_full_version > "3.13.0" and python_version < "3.15"
requests==2.32.5 ; python_full_version > "3.13.0" and python_version < "3.15"
rich-toolkit==0.19.2 ; python_full_version > "3.13.0" and python_version < "3.15"
rich==14.3.2 ; python_full_version > "3.13.0" and python_version < "3.15"
rignore==0.7.6 ; python_full_version > "3.13.0" and python_version < "3.15"
sentry-sdk==2.52.0 ; python_full_version > "3.13.0" and python_version < "3.15"
setuptools==82.0.0 ; python_full_version > "3.13.0" and python_version < "3.15"
shellingham==1.5.4 ; python_full_version > "3.13.0" and python_version < "3.15"
smart-open==7.5.0 ; python_full_version > "3.13.0" and python_version < "3.15"
spacy-legacy==3.0.12 ; python_full_version > "3.13.0" and python_version < "3.15"
spacy-loggers==1.0.5 ; python_full_version > "3.13.0" and python_version < "3.15"
spacy==3.8.11 ; python_full_version > "3.13.0" and python_version < "3.15"
srsly==2.5.2 ; python_full_version > "3.13.0" and python_version < "3.15"
starlette==0.52.1 ; python_full_version > "3.13.0" and python_version < "3.15"
thinc==8.3.10 ; python_full_version > "3.13.0" and python_version < "3.15"
tqdm==4.67.3 ; python_full_version > "3.13.0" and python_version < "3.15"
typer-slim==0.21.2 ; python_full_version > "3.13.0" and python_version < "3.15"
typer==0.21.2 ; python_full_version > "3.13.0" and python_version < "3.15"
typing-extensions==4.15.0 ; python_full_version > "3.13.0" and python_version < "3.15"
typing-inspection==0.4.2 ; python_full_version > "3.13.0" and python_version < "3.15"
urllib3==2.6.3 ; python_full_version > "3.13.0" and python_version < "3.15"
uvicorn==0.40.0 ; python_full_version > "3.13.0" and python_version < "3.15"
uvloop==0.22.1 ; python_full_version > "3.13.0" and python_version < "3.15" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
wasabi==1.1.3 ; python_full_version > "3.13.0" and python_version < "3.15"
watchfiles==1.1.1 ; python_full_version > "3.13.0" and python_version < "3.15"
weasel==0.4.3 ; python_full_version > "3.13.0" and python_version < "3.15"
websockets==16.0 ; python_full_version > "3.13.0" and python_version < "3.15"
wrapt==2.1.1 ; python_full_version > "3.13.0" and python_version < "3.15"
